@import url("./style.css");

body {
    background-color: darkgray;
}

canvas {
    background-color: lightgray;
    cursor: initial;
    /* prevent scale */
    align-self: center;
}

.toolbox {
    gap: 10px;
    padding: 10px;
}

.area-editor-canvas-container {
    gap: 20px;
}
