/* common */

input {
    font-size: 40px;
    width: 100%;
}

input,
label,
button {
    cursor: pointer;
}

*:disabled{
    cursor: not-allowed;
}


input[type="text"],
input[type="number"] {
    padding: 6px;
    border: 3px solid black;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="text"]:hover,
input[type="number"]:hover {
    outline: none;
    box-shadow: 0px 0px 0px 2px black;
}

button {
    margin-top: 15px;
    font-size: 40px;
    padding: 10px;
    border: 3px solid black;
    box-shadow: 4px 4px 0 0 #000;
    background-color: #efefef;
}

button:hover {
    background-color: white;
}

button:active{
    background-color: #efefef;
}

/* custom */

.options-button {
    width: 100%;
    margin-top: 3px;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-left: 4px;
}
