@import url(./style.css);


.settings{
    width:480px;
}


.overlay {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;
}

.editor-layout-grid {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    grid-template-rows: repeat(1, 0fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.settings {
    grid-area: 1 / 1 / 3 / 2;
}

.editor-matrix {
    grid-area: 1 / 2 / 2 / 3;



    background-color: royalblue;
}

.results-matrix {
    grid-area: 2 / 2 / 3 / 3;

   

    background-color: rosybrown;
}




.editor-matrix,
.results-matrix{
    display: grid;

    grid-template-columns: repeat(var(--cols), 0fr);
    grid-template-rows: repeat(var(--rows), 0fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

.cell{
    margin: 0;
    box-shadow: none;

    height: 40px;
    width: 40px;
}