@import url(./style.css);

.settings {
    width: 480px;
}

.presets {
    flex-wrap: wrap;
}

.presets > input {
    width: auto;
}

.overlay {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;
}

.editor-layout-grid {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    grid-template-rows: repeat(1, 0fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.matrix {
    display: grid;

    grid-template-columns: repeat(var(--cols), 0fr);
    grid-template-rows: repeat(var(--rows), 0fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

.selected {
    border-style: dashed;
}

.palette {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 2px;
}

.cell {
    margin: 0;
    box-shadow: none;

    height: 40px;
    width: 40px;

    padding: 10px;
    border: 3px solid black;
}

.palette-cell {
    height: 40px;
    width: 40px;
}

.generator-results {
    padding: 10px;
    background-color: #a3a3a3;
}
.generator-results > canvas {
    padding: 5px;
}
