@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap'); */

@import url("./common.css");
@import url('./components.css');
@import url('./music-icon.css');
@import url('./options-switcher.css');

:root{
    font-size: 24px; /* <- 1em equals to this value */
}

.big{
    font-size: 40px;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    font-family: VT323;
    /* font-family: 'Silkscreen', cursive; */
}


#start-menu {
    margin: 50px auto 20px;
    padding: 0;
    text-align: center;
    width: 480px;
}

.menu-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 4px 0 4px 0;
    background-color: #000;
    color: white;
}

.menu-header::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-top: 3px dotted #fff;
    border-bottom: 3px dotted #fff;
    pointer-events: none;
}

.menu-header > h1{
    text-align: center;
}


.back-icon {
    font-weight: 400;
    font-size: 20px;
    color: white;
    vertical-align: text-top;
    text-align: left;
    cursor: pointer;
    padding-left: 6px;
}

.sticky {
    position: sticky;
    top: 0;
}

.border{
    border: 4px solid black;
}

h1 {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 26px;
    vertical-align: text-top;
}

hr {
    border: 2px solid black;
}

.input-container {
    padding: 40px 70px 50px 70px;
}

canvas {
    display: block;
    float: left;
    margin: 5px;

    image-rendering: pixelated;
}

canvas:hover {
    cursor: pointer;
    box-shadow: 0 0 0 6px black;
}

.hide {
    display: none;
}

.input-label {
    font-size: 0.75em;
    padding-bottom: 0.2em;
}

.generate-button {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.settings{
    padding: 40px;
}

.settings-col{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.settings-row {
    display: inline-flex;
    gap: 20px;
}

.selected {
    background: #fff;
    border: 3px dotted black;
    box-shadow: 0 0 0 3px #000,
                4px 4px 0 3px #000;
}
